<!DOCTYPE html>
<html>
  <head>
    <title>Post-It Party</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to("Home", root_path) %>
      <%= link_to("Create Note", new_note_path) %>
    </nav>
    <%= yield %>
  </body>
</html>
